---
---

*{margin:0;padding:0;box-sizing:border-box;}
*:focus{outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
img{max-width:100%;height:auto;}

body{font-family:'Noto Serif',serif;background:#f3f3f3;}

body > h1{display:none;}

nav > h2{display:none;}

.anchor{display:block;padding:3.75rem 0 0 0;margin:-3.75rem 0 0 0;}

@media screen and (min-width:73.875rem) {
.anchor{padding:6.25rem 0 0 0;margin:-6.25rem 0 0 0;}
}

@media print {
body{background:none;}
.anchor{display:none;}
form{display:none;}
}

.header-ghost{height:3.75rem;}
header{position:fixed;top:0;left:0;right:0;z-index:5;background:#ffffff url('pattern.svg') repeat-x 0 95%;background-size:1.6875rem 0.125rem;height:3.75rem;box-shadow:0 0 3rem 0 rgba(0,0,0,0.05);display:flex;justify-content:space-between;align-items:center;}

header .logo{background:#332C26;display:block;height:100%;display:flex;align-items:center;padding:0.5rem 1rem;transition:background 0.25s ease;}
header .logo img{width:6rem;}
header .logo:hover{background:#4D4239;}
header .logo:focus{outline:2px solid #E6D6A3;outline-style:dashed;outline-offset:-4px;}

header .hamburger{padding:1rem;height:100%;display:flex;align-items:center;z-index:1;transition:background 0.25s ease;order:1;}
header .hamburger span{display:block;background:#332C26;width:1.875rem;height:0.1875rem;border-radius:0.1875rem;position:relative;}
header .hamburger span:before{content:"";display:block;background:#332C26;width:1.875rem;height:0.1875rem;border-radius:0.1875rem;position:absolute;top:-0.375rem;left:0;}
header .hamburger span:after{content:"";display:block;background:#332C26;width:1.875rem;height:0.1875rem;border-radius:0.1875rem;position:absolute;bottom:-0.375rem;left:0;}
header .hamburger:hover{background:#E6D6A3;}
header .hamburger:focus{outline:2px solid #E6D6A3;outline-style:dashed;outline-offset:-4px;}

header .offsite{display:block;position:fixed;top:0;right:0;width:80%;max-width:20rem;height:100%;background:#ffffff;z-index:5;transform:translateX(100%);transition:transform 0.5s ease;padding:2rem 1rem;overflow-y:auto;}
header .offsite:target{transform:translateX(0);}

header .shield{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:3;transform:translateX(-100%);transition:transform 0.5s ease;}
header .offsite:target + .shield{transform:translateX(0);}

header .offsite .logo{display:none;}
header .offsite nav a{text-decoration:none;color:#332C26;font-size:1.5rem;display:block;margin:0.125rem 0;line-height:1.3;padding:0.5rem 1rem;}
header .offsite nav a:hover,
header .offsite nav a:focus,
header .offsite nav a.active{background:#E6D6A3;border-radius:3px;}

@media screen and (min-width:73.875rem) {
.header-ghost{height:6.25rem;}
header{height:6.25rem;}
header .hamburger{display:none;}
header .logo{display:none;}
header .shield{display:none;}
header .offsite{transform:none;position:relative;margin:0 auto;max-width:75rem;width:100%;padding:0;background:none;overflow-y:inherit;transition:none;display:flex;justify-content:center;}
header .offsite .logo{display:flex;position:relative;transition:none;}
header .offsite .logo:after{content:"";width:0;height:0;border-left: 5.5rem solid transparent;border-right: 5.5rem solid transparent;border-top:1rem solid #332C26;position:absolute;top:100%;left:0;right:0;}
header .offsite .logo:hover:after{border-top-color:#4D4239;}
header .offsite .logo img{width:9rem;margin:0.625rem 0 0 0;}
header .offsite nav:first-child{display:flex;justify-content:flex-end;align-items:center;margin:0 1rem;}
header .offsite nav:last-child{display:flex;justify-content:flex-start;align-items:center;margin:0 1rem;}
header .offsite nav a{font-size:1.25rem;margin:0 0.75rem;}

@supports (display:grid) {
header .offsite{display:grid;grid-template-columns:1fr auto 1fr;}
}
}

@media print {
.header-ghost{display:none;}
header .hamburger{display:none;}
header .offsite{display:none;}
header .shield{display:none;}
header{background:none;box-shadow:none;height:2cm;position:relative;}
header .logo{width:100%;justify-content:center;}
}

.intro{position:relative;height:50vh;min-height:20rem;display:flex;align-items:center;justify-content:center;text-align:center;padding:3rem 1rem;}
.intro:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,0.3);z-index:-1;}
.intro:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background:linear-gradient(0deg,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 70%);z-index:-2;opacity:0.5;}
.intro img{display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:-3;width:100%;height:100%;object-fit:cover;}
.intro > div{max-width:25rem;}
.intro h2{font-size:2rem;font-weight:400;color:#ffffff;line-height:1.3;margin:0 0 0.5rem 0;text-shadow:0 3px 6px rgba(0,0,0,0.15);}
.intro p{font-size:1.375rem;color:#E6D6A3;line-height:1.3;text-shadow:0 3px 6px rgba(0,0,0,0.15);}
.intro a{display:block;max-width:10rem;text-decoration:none;background:#E6D6A3;color:#332C26;padding:0.5rem 2rem;border-radius:3px;font-size:1.25rem;margin:1.5rem auto 0 auto;text-align:center;}
.intro a:focus{outline:2px dashed #E6D6A3;outline-offset:4px;}

@media screen and (min-width:70rem) {
.intro{text-align:left;align-items:flex-end;padding:3% 0;height:70vh;min-height:30rem;}
.intro:before{background:rgba(0,0,0,0.2);}
.intro:after{background:linear-gradient(0deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 60%);}
.intro > div{max-width:62.5rem;flex:1 1 100%;}
.intro > div > div{max-width:60%;}
.intro h2{font-size:3rem;font-size:calc(1.5vw + 1.5rem);}
.intro p{font-size:1.6875rem;font-size:calc(1.5vw + 0.5rem);}
.intro a{display:inline-block;margin:2rem 0 0 0;font-size:1.5rem;background:#332C26;color:#ffffff;max-width:inherit;}
}

@media print {
.intro:before{background:rgba(0,0,0,0.4);}
.intro:after{display:none;}
.intro a{display:none;}
}

.denne-menu{background:#ffffff;padding:0 0 1rem 0;}
.denne-menu > div:first-child{display:flex;justify-content:center;align-items:center;padding:1rem;}
.denne-menu > div:first-child img{order:1;width:4.875rem;flex:0 1 auto;}
.denne-menu > div:first-child h2{order:2;margin:0 0 0 0.5rem;font-size:1.75rem;line-height:1.3;}

.denne-menu section{margin:1rem;}
.denne-menu section h2{font-size:1.125rem;font-weight:700;margin:2rem 0 0.625rem 0;}
.denne-menu ul{list-style:none;}
.denne-menu li{border-bottom:1px solid #E6E6E6;padding:1rem 0;display:flex;align-items:baseline;}
.denne-menu li:last-child{border:0;}
.denne-menu li div:first-child{font-weight:700;flex:0 1 auto;margin:0 0.5rem 0 0;line-height:1.3;}
.denne-menu li h3{font-size:1.125rem;flex:1 1 auto;line-height:1.3;}
.denne-menu li div:last-child{font-weight:700;margin:0 0 0 0.625rem;flex:0 1 auto;}

@media screen and (min-width:45rem),print and (min-width:14cm) {
.denne-menu{padding:0;}
.denne-menu > div:last-child{display:flex;}
.denne-menu section{flex:1 1 50%;border-left:1px solid #E6E6E6;padding:0 5%;margin:1rem 0;}
.denne-menu section:first-child{border:0;}
.denne-menu section h2{margin:0 0 0.625rem 0;}
}

@media screen and (min-width:75rem) {
.denne-menu{display:flex;padding:4rem 2rem;}
.denne-menu > div:first-child{display:block;text-align:center;padding:0 3rem 0 0;}
.denne-menu > div:first-child img{width:100%;}
.denne-menu > div:first-child h2{font-size:2.25rem;margin:0;}
.denne-menu > div:last-child{flex:1 1 auto;}
.denne-menu section:first-child{border-left:1px solid #E6E6E6;}
}

@media print {
.denne-menu{page-break-before:always;}
.denne-menu > div img{display:none;}
}

.text{padding:2rem 1rem;color:#332C26;}
.text p{margin:1rem 0 0 0;line-height:1.5;}

.text h2{font-size:2.25rem;line-height:1.3;}
.text h3{font-size:1.5rem;line-height:1.3;margin:1.5rem 0 0 0;}
.text h4,
.text h5,
.text h6{font-size:1.25rem;line-height:1.3;margin:1.5rem 0 0 0;}

.text ul,
.text ol{margin:1rem 0 1rem 2rem;}
.text li{line-height:1.5;}

.text form input,
.text form textarea{width:100%;display:block;padding:0.5rem 1rem;border:1px solid #bbbbbb;border-radius:3px;font-size:1.125rem;margin:0.5rem 0 0 0;font-family:'Noto Serif',serif;display:block;}
.text form textarea{height:9rem;padding:1rem;}
.text form input[type="submit"]{width:auto;background:#332C26;color:#ffffff;border-color:#332C26;display:inline-block;cursor:not-allowed;}

.text form:valid input[type="submit"]{cursor:pointer;}

.text form input:focus,
.text form textarea:focus{border-color:#777777;}

.text form input[type="submit"]:focus,
.text form input[type="submit"]:hover{background:#E6D6A3;border-color:#E6D6A3;color:#332C26;}

@media screen and (min-width:45rem) {
.text{padding:calc(5% + 2rem) 0;max-width:40rem;margin:0 auto;}
}

@media screen and (min-width:45rem) {
.columns{display:flex;flex-wrap:wrap;margin:0 -1rem;}
.columns-2 > *{flex:1 1 calc(50% - 2rem);margin:0 1rem;}
}

.nazor{background:#E6D6A3;display:flex;justify-content:center;align-items:center;padding:2rem;flex-wrap:wrap;}
.nazor h2{font-size:1.25rem;line-height:1.3;text-align:center;}
.nazor a{display:block;text-decoration:none;background:#332C26;color:#ffffff;padding:0.5rem 1rem;margin:1rem 2rem;border-radius:3px;font-size:1.25rem;}
.nazor a:hover{background:#4D4239;}
.nazor a:focus{outline:2px dashed #E6D6A3;outline-offset:-4px;}

@media print {
.nazor{display:none;}
}

.mapa{overflow:hidden;}
.mapa > h2{display:none;}
.mapa > iframe{display:block;border:0;width:100%;height:30rem;min-height:16rem;max-height:50vh;}

@media print {
.mapa{display:none;}
}

footer{background:#332C26;color:#ffffff;padding:1rem;}
footer a{display:block;text-decoration:none;color:#ffffff;margin:0.5rem 0;padding:0.5rem 0;line-height:1.3;}
footer span{display:block;text-align:right;margin:2rem 0 0 0;line-height:1.3;}

footer a:hover{color:#E6D6A3;}
footer a:focus{outline:2px dashed #E6D6A3;outline-offset:4px;color:#E6D6A3;}

@media screen and (min-width:45rem) {
footer nav{display:flex;justify-content:center;}
footer a{margin:0 1rem;}
}

@media screen and (min-width:60rem) {
footer{padding:3rem 1rem;}
footer a{padding:0;}
footer div{display:flex;justify-content:space-between;max-width:62.5rem;margin:0 auto;}
footer span{margin:0;order:1;}
footer nav{order:2;}
}

@media print {
footer{background:none;color:#000000;}
footer nav{display:none;}
}